{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">

        <h1>MEME!!!</h1>
        <p>MOMASO DE HOMERO</p>
    </div>

    <div class="col-4">

        <img src="assets/img/a.jpg" class="img-thumbnail">

    </div>


</div>




    {{> footer}}
    
